.App {
  text-align: center;
}
body {
  background-color: #1d2026;
}

/* Gif Container */
.gifs-containter {
  /* margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 80vw;
  margin: 20px auto;
}

/* GifCard Component Styling */
.gif-card {
  /* display: block; */
  height: 280px;
  width: 250px;
  /* border: 1px solid black; */
  border-radius: 8px;
  padding: 8px;
  background-color: #282c34;
  margin: 0;
  text-decoration: none;
  display: block;
}
.video-container {
  border-radius: 8px;
  overflow: hidden;
  height: 90%;
}
.gif-card-video,
.gif-card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  opacity: 100%;
  transition: opacity 0.5s ease-in-out;
}
.gif-card .gif-card-video {
  opacity: 0;
  display: none;
}
.gif-card:hover .gif-card-image {
  opacity: 0;
  display: none;
}
.gif-card:hover .gif-card-video {
  opacity: 100%;
  display: block;
}

.gif-card-title {
  margin: auto 0;
  font-size: 1.1rem;
  color: #61dafb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
}

/* Placeholer for loading */
.gif-card-placeholder {
  height: 280px;
  width: 250px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  background-color: #282c34;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-gradient {
  height: 90%;
  width: 100%;
  background: linear-gradient(90deg, #282c34 25%, #373c47 37%, #282c34 63%);
  background-size: 200% 200%;
  animation: loading-gradient-animation 1.5s linear infinite;
}

@keyframes loading-gradient-animation {
  0% {
    background-position: -100% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.placeholder-title {
  width: 80%;
  height: 16px;
  background: linear-gradient(90deg, #282c34 25%, #373c47 37%, #282c34 63%);
  background-size: 200% 200%;
  animation: loading-gradient-animation 1.5s linear infinite;
  margin-top: 8px;
}

/* Pagination */
.page-navigation-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-navigation-ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-button-item {
  margin: 0 5px;
}

.page-button-item a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  background-color: #282c34;
  border: 1px solid #61dafb;
}

.page-button-item.active a,
.page-button-item a:hover {
  background-color: #61dafb;
  color: #282c34;
}

/* Header */
header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header button {
  background-color: #282c34;
  color: #61dafb;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}
header .search-bar {
  padding: 4px 0;
  width: 300px;
}

header button:hover,
header .search-button {
  background-color: #61dafb;
  color: #282c34;
}

header select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #282c34;
  color: #61dafb;
  border: none;
  padding: 5px;
  margin-right: 10px;
}

header select:hover {
  background-color: #61dafb;
  color: #282c34;
}

header option {
  background-color: #282c34;
  color: #61dafb;
}
